<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.moviemastery.moviemastery" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_movie_mastery"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name=".activity.LoginActivity"
            android:noHistory="true"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomThemeNoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.OverviewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_overview"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.GameActivity"
            android:noHistory="true"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait"
            android:theme="@style/CustomThemeNoActionBar" >
        </activity>

        <service
            android:name=".service.SoundPlayerService"
            android:enabled="true" >
        </service>

        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".activity.PreviousGamesActivity"
            android:label="@string/title_activity_previous_games" >
        </activity>
        <activity
            android:name=".activity.LeaderboardActivity"
            android:label="@string/title_activity_leaderboard" >
        </activity>
    </application>

</manifest>
